*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika+Negative&display=swap');
body{
    font-family: 'Signika Negative', sans-serif;
}
h1{
    color: rgb(229, 49,112);
    text-align: center;
    font-weight: 800;
}
.paragrafo{
    text-align: center;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.card{
    background-color: rgb(15, 14, 23);
    color: white;
    width: calc(33.3% - 2rem);
    float: left;
    margin-top: 80px;
    margin-right: 1rem;
    box-shadow:  5px  5px 5px #dedede,
                -5px -5px 5px #dedede,
                 5px -5px 5px #dedede,
                -5px  5px 5px #dedede;

}
img{
    width: 130px;
    float: left;
    margin-right: 10px;
}
h2, .work, a{
    margin: 10px;
}
a{
    text-decoration: none;
    color: lightblue;
}

